  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    background-color: aliceblue;
    text-align: center;
  }
  #inputform{
    margin-top: 5cm;
    display: inline-block;
  }


