
body {
	background: beige;
	overflow: auto;
}

h1{
	text-align: center;
	margin: 5%;
	font-size: 3rem;
	text-decoration: underline;
}
label{
    margin-left: 2cm;
}

#User{
position: absolute;
right: 1px;
width: 300px;
border: 3px solid #73AD21;
padding: 10px;
}

div>h3{
    text-align:center;
    margin-right: 2cm;
    height: 5px;
}
#AddBtn{
    background-color: #ff656c;
    margin: 0;
    width: 15%;
    padding: 10px;
    font-size: 16px;
    border: none;
}
ul {
	text-align: center;
	padding-left: 10%;
	padding: 7%;
	font-size: 2rem;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ff656c;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

input{
background-color: white;
  margin: 0;
  border: none;
  border-radius: 0;
  margin-left: 2cm;
  width: 70%;
  padding: 10px;
  font-size: 16px;

}
div>#DeleteBtn{
    background-color: beige;
    height: 40px;
    /* border: transparent; */
    width: 60px; 
}


div>#UpdateBtn{
    background-color: beige;
    height: 40px;
    /* border: transparent; */
    border-left:black;  
    border-left: 1px;
    width: 60px; 
}


